body {
    text-align: center;
    font-family: monospace;
    color: #333
}

h1 {
    font-size: 64px;
    font-weight: 900;
}

button {
    height: 55px;
    width: 110px;
    font-size: 30px;
    font-weight:600;
    flex: 1;
}

h3 {
    font-size: 22px;
}

.buttons {
    /* border: 1px solid rgb(65, 77, 47); */
    width: 550px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    gap: 15px
}